:root{
    --navbar: rgba(0, 0, 0, 0);
    --background:rgb(212, 212, 212);
    --white:white;
    --black:black;
    --button-color:rgb(111, 219, 61);
    --radiusborder: 20px;
    
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    font-family: "Poppins";
    font-size: medium;
}
.contact2{
    height: 50vh;
    width: 100vw;
    background-image: url("/Images/contactus-images/Contact_Us_Banner_BG.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: end;
}
ul{
    display: flex;
    justify-content: end;
}
li{
    list-style: none;
}
.callus{
    height: 50%;
    width: 25vw;
    margin-right: 5rem;
    
}
.callusIn{
    display: flex;
    justify-content: space-between;
}
.emailus{
    height: 50%;
    width: 10vw;
    margin-right: 5rem;
}
.maps{
    display: flex;
    height: 60vh;
    width: 100vw;
}
.headquarter{
    height: 100%;
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
iframe{
    height: 100%;
    width: 62%;
} 
.contact-box
{
    width:100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-field
{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid #777;
    border-radius: 14px;
    outline: none;
}
.textarea-field
{
    height:150px;
    padding-top: 10px;
}
.btn
{
    /* border: none; */
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding:10px;
    background-color: green;
    font-size: 12px;
} 
footer{
    height: 40vh;
    width: 100vw;
    background-image: url("/Images/contactus-images/footer-banner.png");
    background-size: cover;
}
header{
    height: 10vh;
    width: 100vw;
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color: var(--navbar);
}
.nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height: 95%;
    width: 40%;
  display: flex;
  justify-content:start ;
  align-items: center;
}
.logo img{
    height:75%;
    width:11%;
  margin-left: 2rem;
  margin-right: 0.3rem;
} 
.bar{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-btn{
    height:2rem;
    width: 7rem;
    margin-left:1rem;
    font-size: 15px;
    font-family: "Poppins";
    outline: none;
    background-color:var(--button-color);
    text-decoration: none;
    border: none;
    border-radius: var(--radiusborder);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}
.navbar-btn:hover{
    background: var(--white);
}
.bar a{
        text-decoration: none;
            color:var(--black);
}
.login-btn
{ 
    height:2rem;
    width: 10rem;
    font-size: 15px;
    font-family: "Poppins";
    outline: none;
    background-color:var(--button-color);
    text-decoration: none;
    border: none;
    border-radius: var(--radiusborder);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
} 
.login-btn:hover{
    background: var(--white);
    transform: scale(1.15);
}
.login{
    height: 100%;
    width: 15%;
    display: grid;
    place-items: center;
}
.login a{
    text-decoration: none;
        color: var(--white);

}
