:root{
    --navbar: rgba(0, 0, 0, 0);
    --background:rgb(212, 212, 212);
    --white:white;
    --black:black;
    --button-color:rgb(111, 219, 61);
    --radiusborder: 20px;
    overflow-x: hidden;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background);
    font-family: "Poppins";
    font-size: medium;
}
.hero
{ 
    width: 100vw; 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    background-image: url("/Images/mainpage-images/cover.jpg"); 
    height:100vh; 
    background-size: cover; 
    background-position: center; 
} 

.content{ 
    max-width: 100%;
    height: 90vh; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 
.info h2{ 
    color: var(--button-color); 
    font-size: 55px; 
    text-transform: uppercase; 
    font-weight:800; 
    letter-spacing: 2px; 
    line-height: 60px; 
    margin-bottom: 30px; 
} 
.info h2 span{ 
    color: var(--white); 
    font-size: 50px; 
    font-weight: 600; 
} 
.info p{ 
    font-size: 20px; 
    font-weight: 500; 
    margin-bottom: 40px; 
    color:var(--white);
} 
.info-btn
{ 
     font-family: "Poppins";
    height: 2.5rem;
    width: 15rem;
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--button-color);
    font-weight: 400; 
    border-radius: var(--radiusborder); 
    transition: 0.3s; 
    cursor: pointer;
} 
.info-btn:hover{
    background-color: var(--button-color);
    color: var(--black);
}
.vdo{
    border-radius: var(--radiusborder);
    border: 4px solid var(--button-color);
    height: 70%;
    width: 40%;
}
.vdo video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radiusborder);
}
.content
{
    display:flex;
    
    
}
.info
{
    width: 50vw;
}
header{
    height: 10vh;
    width: 100vw;
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color: var(--navbar);
}
.nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height: 95%;
    width: 40%;
  display: flex;
  justify-content:start ;
  align-items: center;
}
.logo img{
    height:75%;
    width:11%;
  margin-left: 2rem;
  margin-right: 0.3rem;
} 
.logo p{
    color: var(--white);
}
.bar{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-btn{
    height:2rem;
    width: 7rem;
    font-size: 15px;
    font-family: "Poppins";
    outline: none;
    background-color:var(--button-color);
    text-decoration: none;
    border: none;
    border-radius: var(--radiusborder);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}
.navbar-btn:hover{
    background: var(--white);
}
.bar a{
        text-decoration: none;
            color:var(--black);
}
.login-btn
{ 
    height:2rem;
    width: 10rem;
    font-size: 15px;
    font-family: "Poppins";
    outline: none;
    background-color:var(--button-color);
    text-decoration: none;
    border: none;
    border-radius: var(--radiusborder);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
} 
.login-btn:hover{
    background: var(--white);
    transform: scale(1.15);
}
.login{
    height: 100%;
    width: 15%;
    display: grid;
    place-items: center;
}
.login a{
    text-decoration: none;
        color: var(--white);

}

.aboutus{
    display: flex;
    height: 100vh;
    width: 100vw;

}
.team{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("");
    background-size: cover;
}
.team p{
    width: 80%;
}
.teampic{
    display: grid;
    place-items: center;
    height: 90%;
    width: 70%;
    /**background-image: url("images/about\ us\ side\ image.png"); **/
    background-size: cover;
}
.teampic img{
    height: 50%;
    width:60%;
    border-radius: var(--radiusborder);
}
.ruler_after_aboutus{
    width:80vw;
    margin: auto;
    height: 3px;
    background-color: var(--button-color);
    outline: none;
    border: none;
    margin-bottom: 25px;
}
.ourservices{
    height: 100vh;
    width:100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ourservices h3{
    font-size: 32px;
    font-weight: 400;
    height: 10%;
}
.services{
    height: 90%;
    width:95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.compost,
.shredding,
.ewaste{
    height:80%;
    width: 30%;
    border: 5px solid var(--button-color);
    border-radius: var(--radiusborder);
    box-shadow: 0px 2px 8px black;
    transition: 0.5s; 
    cursor: pointer;
    text-shadow: 2px 2px 2px var(--black);
    color:white;
    background-size: cover; 
    display: grid;
   place-items: center;
}
.compost{
    background-image: url("/Images/mainpage-images/manure.jpg"); 
}
.shredding{
 background-image: url("/Images/mainpage-images/shredding.jpeg"); 
}
.ewaste{
    background-image: url("/Images/mainpage-images/ewaste.jpg"); 
}
.box {
    height: 100%;
    width: 100%;
transition: 0.3s;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
  }  
.box:hover{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
  }

.compost:hover, 
.shredding:hover ,
.ewaste:hover
{
transform:scale(1.15);
}
.compost p, 
.shredding p ,
.ewaste p
{
width: 80%;
text-align: center;
}
.compost h4, 
.shredding h4,
.ewaste h4
{
font-size: 44px;
font-weight: 400;
}

.shop{ 
    margin-bottom: 5rem;
    position: relative;
    left: 43%;
    height: 2.5rem;
    width: 15rem;
    background-color: var(--button-color);
    color: var(--black);
    border: 5px solid var(--button-color);
    font-weight: 400; 
    border-radius: var(--radiusborder); 
    transition: 0.3s; 
    cursor: pointer;
} 
.shop:hover{
  transform: scale(1.1);
  
}
.becomepartner{
    width: 100vw;
    height: 60vh;
    background-image: url("/Images/mainpage-images/theark.jpg");
    background-size: cover;
    display: grid;
    place-items: center;
    margin-bottom: 3rem;
}
.becomepartner h1{
    font-size: 42px;
    font-weight: 500;
    color: var(--button-color);
}
.becomepartner p{
    width: 75%;
    font-size: 20px;
    color: var(--white);
    text-align: center;
}
.join
{ 
    height: 2.5rem;
    width: 15rem;
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--button-color);
    font-weight: 400; 
    border-radius: var(--radiusborder); 
    transition: 0.3s; 
    cursor: pointer;
} 
.join:hover{
    background-color: var(--button-color);
    color: var(--black);
}
.partners{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.partners h1{
    font-size: 42px;
    font-weight: 500;
    color: var(--black);
    text-align: center;
}
/**.people{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.person1,
.person2,
.person3{
    height:60%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--button-color);
    border-radius: var(--radiusborder);
    box-shadow: 0px 2px 8px black;
     transition: 0.5s;
    cursor: pointer;
}
.person1 img,
.person2 img,
.person3 img{
    border-radius: 9999px;
    height: 7rem;
    width:7rem;
    border: 5px solid var(--button-color);
    box-shadow: 0px 2px 8px black;
    position: relative;
    bottom:20%
}
.person1 p,
.person2 p,
.person3 p{
    height: 60%;
    width:90%;
    text-align: center;
}
.person1 h5,
.person2 h5,
.person3 h5{
   font-size: 20px;
   font-weight: 500;
}
**/
footer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.media-icon 
{ 
    height: 5%;
    width: 50%;
    display: flex; 
    justify-content: space-around; 
    align-self: center; 
} 
.media-icon a{ 
    color:var(--black); 
    font-size: 25px; 
    transition: 0.3s; 
} 



.media-icon h1{ 
    font-weight: 500;
    font-size: 25px;
} 
.media-icon a:hover { 
    transform: scale(1.5); 
}
.footer-things{
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.servicesoffered{
    display:grid;
    place-content: center;
    height: 100%;
    width: 50%;
}
.servicesoffered h4,
.company h4,
.three h4{
    font-size: 24px;
    margin-bottom: 2.5rem;
    font-weight: 400; 
}
.company{
    display:grid;
    place-content: center;
    height: 100%;
    width: 50%;
    padding-left: 35px;
}
.one{
    width: 30%;
    display: grid;
    place-items: center;
}
.one p{
    width: 80%;
}
.two{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    border-right: 2px solid rgb(167, 167, 167);
    border-left: 2px solid rgb(167, 167, 167);
}
.three{
    width: 20%;
    display: grid;
    place-items: center;
}
.three p{
    font-size: 20px;
}
.three span{
    font-size: 15px;
}
.theend{
    height: 40%;
    background-image: url("/Images/mainpage-images/footer-banner.png");
    background-size: cover;
}