:root{
    --navbar: rgba(0, 0, 0, 0);
    --background:rgb(212, 212, 212);
    --white:white;
    --black:black;
    --button-color:#adff2f;
    --radiusborder: 20px;
}
header{
    height: 10vh;
    width: 100vw;
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color: var(--navbar);
    
}
body{
    font-family: "Poppins";
    font-size: medium;
}
.nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.logo{
    height: 95%;
    width: 40%;
  display: flex;
  justify-content:start ;
  align-items: center;
}
.logo img{
    height:75%;
    width:11%;
  margin-left: 2rem;
  margin-right: 0.3rem;
} 
.bar{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-btn{
    height:2rem;
    width: 7rem;
    font-size: 15px;
    font-family: "Poppins";
    outline: none;
    background-color:var(--button-color);
    text-decoration: none;
    border: none;
    border-radius: var(--radiusborder);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}
.navbar-btn:hover{
    background: var(--white);
}
.bar a{
        text-decoration: none;
            color:var(--black);
}
.login-btn
{ 
    height:2rem;
    width: 10rem;
    font-size: 15px;
    font-family: "Poppins";
    outline: none;
    background-color:var(--button-color);
    text-decoration: none;
    border: none;
    border-radius: var(--radiusborder);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
} 
.login-btn:hover{
    background: var(--white);
    transform: scale(1.15);
}
.login{
    height: 100%;
    width: 15%;
    display: grid;
    place-items: center;
}
.login a{
    text-decoration: none;
        color: var(--white);

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
    font-family: "Poppins";
}
.one {
    background: url("bottles.avif"); 
    
}
.two{
    
    background: url("bottles.jpg"); 
    height:60vh;
    width: 100vw;
    display:flex;
    justify-content: space-evenly;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom:50px ;
     
}
.two:hover{
    transform:scale(1.2);
    opacity: .8;
}

.hello{
    width:90%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align: center;
    margin:20px auto;

}
.hello{
    font-family: "Poppins";
    font-size: 50px;
    color:rgb(111, 219, 61);
    position: relative;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}
.hello h1::after{
    content:"";
    position :absolute;
    width:1000px;
    height:4px;
    display:block;
    margin:0auto;
    background-color:#4caf50;
    
}
.hello p{
    font-family: "Poppins";
    font-size: 25px;
    color:#0f0000;
    margin-top: 10px;  
    line-height: 1.5; 
}


.container1{
    width: auto;
    width:90%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align: center;
    margin:20px auto;
}
.about{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
.about-images{
    flex:1;
    margin-right:10px;
    overflow:hidden;

}
.about-images img{
    max-width:100%;
    height:auto;
  
    transition:0.5s ease;
    margin-right:10px;

}
.about-images:hover img{
    transform:scale(1.2);
    opacity: .8;
}

.about-content h2{
    font-family: "Poppins";
    font-size:35px;
    margin-bottom:15px;
    color:#01532c;
}
.about-content p{
    font-family: "Poppins";
    font-size:25px;
    line-height:1.5;
    color:#0f0000;;
}
.three{
    background: url("waste.avif"); 
    height:70vh;
    width: 100vw;
    display:flex;
    justify-content: space-evenly;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-bottom: 50px;
}

.three:hover{
    transform:scale(1.2);
    opacity: .8;
}

.container2{
    width: auto;
    width:90%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align: center;
    margin:20px auto;
}
.segregation h2{
    font-family: "Poppins";
    font-size: 50px;
    margin-bottom: 15px;
    color: #014826;
    width:90%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align: center;
    margin:20px auto;
}
.segregation p{
    font-family: "Poppins";
    font-size: 25px;
    line-height: 1.5;
    color: #0e1c0d;
    width:90%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align: center;
    margin:20px auto;
}
.segregation list{
    font-family: "Poppins";
    font-size: 25px;
    line-height: 1.5;
    color: #0e1c0d;
    width:90%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    text-align: center;
    margin:20px auto;
}

 .read-more{
    display:inline-block;
    padding:3px 10px;
    background-color:#4caf50;
    color:#fff;
    font-family:"Poppins";
    font-size:19px;
    text-decoration:none;
    border-radius:25px;
    margin-top:15px;
    transition:0.3s ease;  
   
}

 .read-more:hover{
    background-color:#017205c5;
    transition: scale(1.2);
}
footer{
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color: var(--navbar);
    
}
footer img{
    height:60vh;
    width: 90%;
    display:flex;
    justify-content: space-evenly;
    background-position: center;
    background-repeat: no-repeat;
    
}
footer img:hover{
    transition: scale(1.2);
}







