:root{
    --navbar: rgba(0, 0, 0, 0);
    --background:rgb(212, 212, 212);
    --white:white;
    --black:black;
    --button-color:rgb(111, 219, 61);
    --radiusborder: 20px;
    overflow-x: hidden;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--background);
    font-family: "Poppins";
}

main {
	width: 100%;
	height: 1300px;
	padding-top: 50px;
    background-image:url(/Images/price-images/rec-bg.jpg);
    background-size: cover;
}
.open {
	display: block;
	margin: 0 auto;
	width: 250px;
	height: 50px;
	margin-bottom: 30px;
    background-color: #2fd029;
    border: 1px solid black;
    border-radius: 4px;
	font-size: 22px;
	text-align: center;
	line-height: 50px;
    cursor: pointer;
    transition: 0.3s all;
}
.open:hover {
    transform: scale(1.05);
}
.shop {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 90%;
	min-height: 560px;
	margin: 0 auto;
	padding: 60px 30px;
    background-color: rgba(0,0,0,.7);
    border-radius: 8px;
}
.product {
	width: 23%;
	min-height: 200px;
	margin-right: 1%;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0 0 30px rgba(256,256,256, .4);
}
.product .product-card {
	display: block;
	width: 90%;
	height: 180px;
	margin: 0 auto;
	margin-top: 5%;
}
.product .product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button {
	display: block;
	width: 120px;
	height: 30px;
	margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 4px;
	cursor: pointer;
    background-color: rgb(71, 181, 71);
}
.cart {
	display: none;
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,.9)
}
h2 {
	color: #fff;
	font-size: 30px;
	text-align: center;
	margin-top: 30px;
}
.cart .cart-field {
	width: 80%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid white;
}
.close {
	width: 200px;
	height: 50px;
	background-color: #fff;
	font-size: 26px;
	margin-top: 10px;
    background-color: #2fd029;
    border: 1px solid black;
    border-radius: 4px;
}
.details{
	margin: 0;
}

header{
    height: 10vh;
    width: 100vw;
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color: var(--navbar);
}
.nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height: 95%;
    width: 40%;
  display: flex;
  justify-content:start ;
  align-items: center;
}
.logo img{
    height:75%;
    width:11%;
  margin-left: 2rem;
  margin-right: 0.3rem;
} 
.bar{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar-btn{
    height:2rem;
    width: 7rem;
    font-size: 15px;
    font-family: "Poppins";
    outline: none;
    background-color:var(--button-color);
    text-decoration: none;
    border: none;
    border-radius: var(--radiusborder);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}
.navbar-btn:hover{
    background: var(--white);
}
.bar a{
        text-decoration: none;
            color:var(--black);
}
.login-btn
{ 
    height:2rem;
    width: 10rem;
    font-size: 15px;
    font-family: "Poppins";
    outline: none;
    background-color:var(--button-color);
    text-decoration: none;
    border: none;
    border-radius: var(--radiusborder);
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
} 
.login-btn:hover{
    background: var(--white);
    transform: scale(1.15);
}
.login{
    height: 100%;
    width: 15%;
    display: grid;
    place-items: center;
}
.login a{
    text-decoration: none;
        color: var(--white);

}
p{ 
   overflow: hidden;
    margin: 5px 0;
    text-align: center!important;
    font-weight: 700;
    font-family: "Poppins";
}